@page "/division-input"
@inject IAppState State
@inject NavigationManager Manager

<PageTitle>Division Input</PageTitle>

<h2>Divison Input</h2>

<div class="m-4">
    <EditForm Model="@divisionData" OnValidSubmit="SubmitForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row align-items-center g-3">
            <div class="col-lg-3 col-12">
                <label for="dividend" class="form-label">Dividend</label>
                <InputNumber id="dividend" class="form-control" placeholder="Dividend" onClick="this.select();" @bind-Value="divisionData.Dividend" @onblur="FieldOnBlur" />
            </div>
            <div class="col-lg-3 col-12">
                <label for="divisor" class="form-label">Divisor</label>
                <InputNumber id="divisor" class="form-control" placeholder="Divisor" onClick="this.select();" @bind-Value="divisionData.Divisor" @onblur="FieldOnBlur" />
            </div>
            <div class="col-lg-3 col-12">
                <label for="decimal_digits" class="form-label">Decimal Places</label>
                <InputSelect id="decimal_digits" class="form-select" placeholder="Number of Decimal Places" @bind-Value="divisionData.DecimalDigits" @onblur="FieldOnBlur">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </InputSelect>
            </div>
            <div class="col-lg-3 col-0">
            </div>
            <div class="col-lg-3 col-12 d-grid">
                <button class="btn btn-primary btn-lg" type="submit">CALC</button>
            </div>
            <div class="col-lg-3 col-12 d-grid">
                <button class="btn btn-warning btn-lg" @onclick="ResetClick">RESET</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private DivisionData divisionData = new();

    protected override void OnInitialized()
    {
        divisionData.Dividend = State.Dividend;
        divisionData.Divisor = State.Divisor;
        divisionData.DecimalDigits = State.DecimalDigits;
    }

    private void FieldOnBlur()
    {
        State.Dividend = divisionData.Dividend;
        State.Divisor = divisionData.Divisor;
        State.DecimalDigits = divisionData.DecimalDigits;
        State.NeedCalc = true;
    }

    private void SubmitForm()
    {
        Manager.NavigateTo($"{State.BaseUrl}/result");
    }

    private void ResetClick()
    {
        divisionData.Dividend = null;
        divisionData.Divisor = null;
        State.Reset();
        Manager.NavigateTo($"{State.BaseUrl}/");
    }
}
