@page "/result"
@inject IAppState State
@inject NavigationManager Manager

<PageTitle>Result</PageTitle>

<h2>Result</h2>

<div style="overflow-x: auto;">
    <div class="result-box">@ResultText</div>
</div>

<div class="m-4">
    <div class="row align-items-center g-3">
        <div class="col-lg-3 col-12 d-grid">
            <button class="btn btn-secondary btn-lg" type="submit" @onclick="BackClick">BACK</button>
        </div>
    </div>
</div>

@code {
    private string? ResultText;

    protected override void OnInitialized()
    {
        if ((State.Dividend == null) || (State.Divisor == null))
        {
            BackClick();
        }
        else if (State.NeedCalc)
        {
            State.Calc();
            ResultText = State.Result;
        }
    }

    private void BackClick()
    {
        Manager.NavigateTo($"{State.BaseUrl}/division-input");
    }
}
